{
    "ignorePatterns": [
        "src/test/"
    ],
    "env": {
        "es6": true,
        "node": true
    },
    "extends": [
        "standard"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "indent": "off",
        "no-return-assign": "off",
        "camelcase": "off",
        "no-prototype-builtins": "off",
        "no-new": "off",
        "no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "varsIgnorePattern": "[A-Z]\\w+",
                "args": "none"
            }
        ]
    }
} //  